@import "tailwindcss";

@config "../tailwind.config.js";

.loading-image {
  width: 300px;
  height: 200px;
  background-image: url("/loading.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
